<div>
  <h2> Add User </h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()" >
<div>
   <label for="username"> User Name:</label>
  <input formControlName="username" formControlName="username" placeholder="username" name="username" class="form-control" id="username" >
  </div>
 <div>
    <label for="password"> Password:</label>
    <input formControlName="password" formControlName="password" placeholder="password" name="password" class="form-control" id="password" >
 </div>
<div>
<label for="firstName"> First Name :</label>
<input formControlName="firstName" formControlName="firstName" placeholder="firstName" name="firstName" class="form-control" id="firstName" >
</div>
<div>
<label for="lastName"> LastName  : </label>
<input formControlName="lastName" formControlName="lastName" placeholder="lastName" name="lastName" class="form-control" id="lastName" >
</div>
<div>
  <label for="age"> Age : </label>
  <input formControlName="age" formControlName="age" placeholder="age" name="age" class="form-control" id="age" >
  </div>
  <div>
    <label for="salary"> salary : </label>
    <input formControlName="salary" formControlName="salary" placeholder="salary" name="salary" class="form-control" id="salary" >
    </div>
<button class="btn-success"> Add </button>
</form>
</div>
